@font-face {
    font-family: 'Raleway-Regular';
    src: url('/sources/typo/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/sources/typo/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/sources/typo/Raleway-Bold.ttf');
}

h1{
    font-size: 1.35em;
}

aside #zoneTitreTxt p{
    font-family: 'Raleway-Regular';
    line-height: 35px;
}

.plan{
    position: absolute;
    opacity: 0.5;
    z-index: 9999;
    top: 0;
    left: 0;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

#zoneLigneMenu,
#zoneLogoEtMenu,
header ul,
form,
#zoneFiltres,
ul,
li,
#article1Et2,
#article1 .zoneSection,
#article2 section,
#article2 .zoneTxt
{
    display: flex;
}

#ligne1,
button
{
    background-color: #0065FC;
}

.rond{
    background-color: #DEEBFF;
}

#pictoCarte{
    background-color: #F2F2F2;
}

#ligne2,
#ligne3
{
    background-color: white;
}

.coulBleu{
    color: #0065FC;
}

.bold,
h1
{
    font-family: 'Raleway-Bold';
}

body{
    padding: 0px 53.5px 0px 53.5px;
}

#zoneLigneMenu{
    height: 2px;
    justify-content: flex-end;
}

#ligne1{
    width: 162px;
}

#ligne2{
    width: 152px;
}

#ligne3{
    width: 118px;
}

#zoneLogoEtMenu{
    justify-content: space-between;
    height: 58px;
    margin-top: 50px;
}

#logo{
    width: 94px;
    height: 29px;
}

header nav{
    padding-right: 23.5px;
}

header nav a{
    font-family: 'Raleway-Regular';
    margin: -4px 0px 0px 68px;
}

#zoneTitreTxt{
    margin-top: 17px;
}

#barreDeRecherche{
    margin-top: 12px;
}

form{
    display: flex;
}

#zonePictoPosition{
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

#pictoCarte{
    height: 19px;
    padding: 16px 15px 16px 15px;
    border-radius: 15px 0px 0px 15px;
}

input{
    width: 233px;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

#zoneBoutonRechercher{
    display: flex;
}

button{
    font-family: 'Raleway-SemiBold';
    letter-spacing: 1px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 1em;
    padding: 17px 17px 15px 20px;
}

#zoneFiltres{
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

#filtres{
    font-family: 'Raleway-Bold';
    margin-left: 10px;
    font-size: 1.1em;
}

aside nav{
    padding-left: 13px;
}

aside ul{
    flex-wrap: wrap;
}

aside li{
    margin: 20px 3px 20px 20px;
    align-items: center;
    border-radius: 99999999px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    height: 45.5px;
}

#reglageRomantique a{
    margin: 2px 17px 0px 12px;
}

aside a{
    font-family: 'Raleway-Bold';
    color: black;
    font-size: 1.1em;
    margin: 2px 23px 0px 12px;
    letter-spacing: 0.1px;
}

.rond{
    width: 50px;
    height: 50px;
    border-radius: 99999999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picto{
    width: 19px;
    height: 18px;
}

#zoneInfos{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#pictoInfo{
    margin: 0px 11px 0px 4px;
    width: 25px;
    height: 25px;
}

#zoneInfos p{
    font-family: 'Raleway-Regular';
}

#article1Et2{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

section{
    box-shadow: 0px 5px 20px  #c7c8ca;
    background-color: white;
    border-radius: 20px;
}

#article1{
    background-color: #F2F2F2;
    border-radius: 20px;
}

.zoneTitre{
    background-color: #F2F2F2;
    border-radius: 20px 20px 0px 0px;
}

#article1 .zoneSection{
    flex-wrap: wrap;
    justify-content: center;
}

#article1Et2 h2{
    font-family: 'Raleway-Bold';
    font-size: 1.35em;
    margin: 43px 20px 20px 37px;
    letter-spacing: 0.2px;
}

#article1 h3{
    font-family: 'Raleway-Bold';
    font-size: 1em;
    margin: 0px 0px 3px 14px;
}

#article1Et2 p{
    font-family: 'Raleway-Regular';
    font-size: 0.9em;
    margin: 4px 0px 3px 14px;
}

span{
    font-family: 'Raleway-SemiBold';
}

#article1 .les5Etoiles{
    margin: 6px 10px 8px 14px;
}

.etoileBleu, .etoileGrise{
    width: 12px;
    height: 12px;
    margin-left: -2px;
}

#article1 section{
    margin: 3px 20px 26px 20px;
}

#article2 section{
    margin: 3px 40px 26px 40px;
}

#article1 .images{
    width: 236px;
    height: 114px;
    border: 5px solid white;
    border-radius: 17px 17px 0px 0px;
}

#article1 .imagesMobile{
    display: none;
}

#zoneAfficherPlus{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    margin: 13px 20px 45px 42px;
}

#article2{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 30px;
    max-height: 622px;
}

.zoneTitre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pictoGraph{
    width: 23px;
    height: 18px;
    margin: 20px 35px 0px 0px;
}

#article2 .zoneSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#article2 h3{
    font-family: 'Raleway-Bold';
    font-size: 1em;
    margin: 0px 0px 3px 18px;
}

#article2 p{
    margin: 3px 0px 0px 18px;
}

#article2 .image{
    width: 127px;
    height: 134px;
    border-radius: 17px 0px 0px 17px;
    border: 5px solid white;
}

#article2 .zoneTxt{
    flex-direction: column;
    padding: 16px 0px 0px 0px;
    width: 210px;
    border-radius: 0px 17px 17px 0px;
} 

#article2 .les5Etoiles{
    margin: 39px 0px 0px 19px;
}

@media screen and (min-width: 0px) and (max-width: 1135px){
    .plan2{
        position: absolute;
        opacity: 0.5;
        z-index: 9999;
        width: 100%;
    }

    body{
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: column-reverse;
    }

    #ligne1{
        width: 50%;
    }
    
    #ligne2{
        width: 50%;
        background-color: #F2F2F2;
    }
    
    #ligne3{
        width: 0px;
    }

    #zoneLogoEtMenu{
        flex-direction: column;
        margin-top: 32px;
    }

    #logo{
        margin-left: 21px;
    }

    #zoneLigneMenu{
        margin-top: 40px;
    }

    #sinscrire{
        position: absolute;
        top: 40px;
        right: 21px ;
    }

    header nav{
        display: flex;
        padding: 0;
    }

    header ul{
        justify-content: space-around;
        width: 100%;
        margin-top: 12px;
    }

    header li{
        margin: 20px;
        width: 100%;
        justify-content: center;
    }

    .disparaitMobile{
        display: none;
    }

    header nav a{
        margin: 0;
    }

    aside{
        margin-top: 32px;
        padding: 0px 21px 0px 20px;
    }

    aside #zoneTitreTxt p{
        margin-top: 6px;
    }

    #barreDeRecherche{
        position: relative;
        margin-top: 27px;
    }

    input{
        width: 100%;
        margin-right: 40px;
    }

    #boutonRechercher{
        display: none;
    }

    #zoneBoutonRechercher{
        position: absolute;
        right: 0;
    }

    #zonePictoLoupe{
        padding: 15px 15px 12px 15px;
        border-radius: 15px;
    }

    #pictoLoupe{
        height: 20px;
    }

    #zoneFiltres{
        margin-top: 22px;
        margin-left: -7px;
    }

    #filtres{
        margin-top: 12px;
    }

    aside nav{
        padding-left: 0;
    }

    aside li{
        margin: 16px 3px 0px 7px;
        height: 43.5px;
    }

    aside a{
        font-size: 1em;
        margin: 0px 18px 0px 12px;
    }

    .rond{
        height: 48px;
        width: 48px;
    }

    #reglageRomantique{
        margin: 16px 2px 1px 5px;
    }

    #reglageRomantique a{
        margin: 0px 14px 0px 15px;
    }

    #zoneInfos{
        margin-top: 29px;
        display: flex;
        align-items: flex-start;
    }

    #pictoInfo{
        margin: 0px 10px 0px 0px;
    }

    #article1Et2{
        flex-direction: column-reverse;
    }

    #article1, #article1 .zoneTitre{
        background-color: white;
    }

    #article2{
        margin: 0px 0px 20px 0px;
        border-radius: 0px;
        height: 100%;
    }

    #article2 .zoneSection{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #article2 section{
        margin: 0px 20px 11px 20px;
    }

    #article1 h2, #article2 h2{
        margin: 42px 10px 26px 19px;
    }

    #pictoGraph{
        margin: 16px 19px 0px 0px;
    }

    #article1 .imgMobile{
        width: 324px;
        height: 114px;
        border-radius: 17px 17px 0px 0px;
        border: 5px solid white;
    }

    #article1 section{
        margin: 0px 20px 12px 20px;
    }

    #zoneAfficherPlus{
        margin: 7px 20px 45px 23px;
    }

    #article1 .images{
        display: none;
    }

}

@media screen and (min-width: 1136px) and (max-width: 999999999999px){
    .disparaitOrdi{
        display: none;
    }

    #zonePictoLoupe{
        display: none;
    }

    #article1 .imgMobile{
        display: none;
    }
}