@import url("mobile.css");
@import url("tablette.css");

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/sources/typo/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/sources/typo/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/sources/typo/Raleway-Bold.ttf');
}

h1{
    font-size: 1.35em;
}

p{
    font-family: 'Raleway-Regular';
    line-height: 35px;
}

.plan{
    position: absolute;
    opacity: 0.5;
    z-index: 9999;
    top: 0;
    left: 0;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

#zoneLigneMenu,
#zoneLogoEtMenu,
header ul,
form,
#zoneFiltres,
ul,
li,
#article1Et2,
#article1 .zonSection,
#article2 section,
#article2 .zoneTxt
{
    display: flex;
}

#ligne1,
button
{
    background-color: #0065FC;
}

#pictoCarte{
    background-color: #F2F2F2;
}

#ligne2,
#ligne3
{
    background-color: white;
}

.coulBleu{
    color: #0065FC;
}

.bold,
h1
{
    font-family: 'Raleway-Bold';
}

body{
    padding: 0px 53.5px 0px 53.5px;
}

#zoneLigneMenu{
    height: 2px;
    justify-content: flex-end;
}

#ligne1{
    width: 162px;
}

#ligne2{
    width: 152px;
}

#ligne3{
    width: 118px;
}

#zoneLogoEtMenu{
    justify-content: space-between;
    height: 58px;
    margin-top: 50px;
}

#logo{
    width: 94px;
    height: 29px;
}

header nav{
    padding-right: 23.5px;
}

header nav a{
    font-family: 'Raleway-Regular';
    margin: -4px 0px 0px 68px;
}

#zoneTitreTxt{
    margin-top: 17px;
}

#barreDeRecherche{
    margin-top: 12px;
}

form{
    display: flex;
}

#zonePictoPosition{
    display: flex;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

#pictoCarte{
    height: 19px;
    padding: 16px 15px 16px 15px;
    border-radius: 15px 0px 0px 15px;
}

input{
    width: 233px;
    border-top: 2px solid #F2F2F2;
    border-left: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

#zoneBoutonRechercher{
    display: flex;
}

button{
    font-family: 'Raleway-SemiBold';
    letter-spacing: 1px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 1em;
    padding: 17px 17px 15px 20px;
}

/* #zoneFiltres{
    background-color: indianred;
    align-items: center;
}

#filtres{
    background-color: lightblue;
}

aside nav{
    background-color: lightgreen;
}

aside li{
    background-color: lightsalmon;
    margin: 20px;
    align-items: center;
}

.rond{
    background-color: lightskyblue;
    width: 50px;
    height: 50px;
}

#zoneInfos{
    background-color: lightslategrey;
}

#article1Et2{
    background-color: limegreen;
}

#article1{
    background-color: mediumslateblue;
}

.zoneTitre{
    background-color: mediumvioletred;
}

#article1 .zonSection{
    background-color:orangered;
    flex-wrap: wrap;
}

#article1 section{
    background-color: peru;
    margin: 10px;
}

#article1 .images{
    width: 236px;
    height: 114px;
}

#article2{
    background-color: seagreen;
    margin-left: 30px;
}

#article2 section{
    background-color: steelblue;
    margin: 10px;
}

#article2 .image{
    width: 127px;
    height: 134px;
}

#article2 .zoneTxt{
    background-color: violet;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
} */

@media screen and (min-width: 0px) and (max-width: 695px){
    .plan2{
        position: absolute;
        opacity: 0.5;
        z-index: 9999;
        width: 100%;
    }

    body{
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: column-reverse;
    }

    #ligne1{
        width: 50%;
    }
    
    #ligne2{
        width: 50%;
        background-color: #F2F2F2;
    }
    
    #ligne3{
        width: 0px;
    }

    #zoneLogoEtMenu{
        flex-direction: column;
        margin-top: 32px;
    }

    #logo{
        margin-left: 21px;
    }

    #zoneLigneMenu{
        margin-top: 40px;
    }

    #sinscrire{
        position: absolute;
        top: 40px;
        right: 21px ;
    }

    header nav{
        display: flex;
        padding: 0;
    }

    header ul{
        justify-content: space-around;
        width: 100%;
        margin-top: 12px;
    }

    header li{
        margin: 20px;
        width: 100%;
        justify-content: center;
    }

    .disparaitMobile{
        display: none;
    }

    header nav a{
        margin: 0;
    }

    aside{
        margin-top: 32px;
        padding: 0px 21px 0px 20px;
    }

    p{
        margin-top: 6px;
    }

    #barreDeRecherche{
        position: relative;
        margin-top: 27px;
    }

    input{
        width: 100%;
        margin-right: 40px;
    }

    #boutonRechercher{
        display: none;
    }

    #zoneBoutonRechercher{
        position: absolute;
        right: 0;
    }

    #zonePictoLoupe{
        padding: 15px 15px 12px 15px;
        border-radius: 15px;
    }

    #pictoLoupe{
        height: 20px;
    }
}

@media screen and (min-width: 696px) and (max-width: 999999999999px){
    .disparaitOrdi{
        display: none;
    }

    #zonePictoLoupe{
        display: none;
    }
}